<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.darkjrong.licmanager.mapper.KeystoreMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.darkjrong.licmanager.common.pojo.entity.Keystore">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="validity" property="validity"/>
        <result column="password" property="password"/>
        <result column="private_key" property="privateKey"/>
        <result column="public_key" property="publicKey"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        validity,
        password,
        private_key,
        public_key,
        created_user,
        created_time,
        updated_user,
        updated_time,
        description
    </sql>

    <select id="findKeystoreByName" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from keystore
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="findKeystore" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from keystore
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and created_time between #{startTime,jdbcType=BIGINT} and #{endTime,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>
